.subtitle {
  margin-bottom: 10px;
}

.input {
  padding: 8px;
  border: 1px solid #E5E9EC;
  border-radius: 5px;
  max-width: 600px;
}

.add_contact_button {
  background-color: #7C616C;
  color: #EAFDF8;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
}

.add_contact_button:hover {
  background-color: #D1B1CB;
}
